 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/zinnoudarkgreen.PNG");
  background-position: 64.92% 42.03%;
  background-size: 125%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1232px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  font-size: 3rem;
  margin: 400px 84px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 760px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 866px;
  margin: 38px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 9px 36px 11px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 100px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  margin: 17px auto 0;
  padding: 10px 61px 10px 60px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 100px;
}

.u-section-1 .u-container-layout-3 {
  padding: 27px 30px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 10px 61px 10px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 72.12% 44.37%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 23px;
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    padding: 10px 61px 10px 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 316px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    min-height: auto;
  }

  .u-section-1 .u-btn-1 {
    padding: 9px 15px 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    padding: 9px 39px 11px;
  }

  .u-section-1 .u-btn-3 {
    padding: 9px 51px 11px 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 100px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 57.15% 58.27%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 279px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 13px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 13px;
    min-height: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-right: -142px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-btn-2 {
    margin: 119px -29px -65px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 184px;
    margin-bottom: -130px;
    margin-left: -141px;
  }
}

.u-block-e792-13:not([data-block-selected]):not([data-cell-selected]),
.u-block-e792-13:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e792-13:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 5px 5px 20px 20px rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 5px 5px 20px 20px rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 5px 5px 20px 20px rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 5px 5px 20px 20px rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  box-shadow: 5px 5px 20px 20px rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  box-shadow: 5px 5px 20px 20px rgba(0,0,0,0.4) !important;
}

